
body {
    color: #fefefe;
    background: #272c30 url(../img/boxed-bg-dark.jpg) repeat fixed;
}

body .container {
    background: #272c30;
    padding-bottom: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.small-box {
    overflow: hidden;
}
.small-box span {
    text-overflow: ellipsis;
}

@media (min-width: 576px) {
    #domains_being_blocked {
        font-size: 25px;
    }
}

.enable, .disable {
    margin-bottom: 10px;
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #bbbbbb;
    border-color: #999999;
}

.btn-link, .btn-link:visited, .btn-link:link, .btn-link:active {
    color: #fefefe;
}

.keyval-table {
    background-color: #fefefe;
    overflow: hidden;
}

.keyval-table th {
    display: none;
}

.table, .table-bordered {
    color: #bec5cb;
}

.table-hover {
    color: #222;
}
